@media only all and (min-width: 0) {
  main {
    z-index: 1;
    padding: 0;
  }
  main #hero {
    position: relative;
    z-index: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  main #hero figure {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  main #hero figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  main #hero figure img.keep {
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
  }
  main #hero figure img.dying {
    animation-name: fadeOut;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      opacity: 0;
      filter: blur(10px);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }
  main #hero #banner {
    position: absolute;
    height: 30%;
    width: 100%;
    background: linear-gradient(360deg, rgb(25, 25, 25) 0%, rgba(25, 25, 5, 0.6) 80%, rgba(25, 25, 5, 0) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    bottom: 0vh;
    z-index: 2;
    padding: 0 2.5rem;
  }
  main h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
    text-align: center;
    text-decoration: underline;
    color: orange;
  }
  main div#mainContent {
    width: 80%;
    margin: auto;
  }
  main div#mainContent h2 {
    font-family: "Kalam", cursive;
    margin-bottom: 1rem;
  }
  main div#mainContent p {
    margin-bottom: 1rem;
    text-indent: 1rem;
  }
  main div#mainContent figure {
    width: 10rem;
    margin: 2.5rem auto;
    box-shadow: 0 0 10px white;
    border-radius: 5px;
    overflow: hidden;
  }
  main div#mainContent figure img {
    width: 100%;
  }
  main div#mainContent a:link {
    display: flex;
    width: 10rem;
    margin: 2.5rem auto;
  }
  main div#mainContent a:link figure {
    margin: 0;
  }
}
@media only all and (min-width: 760px) {
  main #hero figure {
    align-items: flex-start;
  }
  main #hero figure img {
    height: initial;
    width: 100%;
  }
  main #hero #banner {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media only all and (min-width: 992px) {
  main #hero {
    height: 75vh;
  }
  main #hero figure {
    align-items: center;
    height: 75vh;
  }
  main #hero #banner {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  main h1 {
    font-size: 3rem;
  }
  main div#mainContent {
    display: flex;
  }
  main div#mainContent div#erik,
  main div#mainContent div#tripleA {
    width: 100%;
    padding: 0 2.5rem;
  }
  main div#mainContent div#erik p,
  main div#mainContent div#tripleA p {
    text-indent: 2rem;
  }
}
@media only all and (min-width: 1200px) {
  #hero {
    height: 75vh;
  }
}/*# sourceMappingURL=about.css.map */