$mobileBannerImg: url("");
$desktopBannerImg: url("");

@import "hero";

@media only all and (min-width: 0) {
  main{
    z-index: 1;
    @include mobileHero;
    #hero{

    }
    #textDiv{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2.5rem 0 2rem 0;
      margin-top:0;
      color: rgb(0,75,255);
      color: orange;
      // background-color: rgb(17,31,37);
      // background-color:rgb(0, 25, 75);
      h1{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: inherit;
        text-align:center;
        text-decoration:underline;
        margin:0;
      }
      span{}

    }
    #gallery{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      a{
        div{
          text-shadow: 2.5px 2.5px 5px black;
        }
      }
      a:link,
      a:visited{
        position:relative;
        overflow:hidden;
        display:flex;
        align-items:center;
        justify-content: center;
        font-family: 'Kalam', cursive;
        text-align:center;
        width: 100%;
        figure{
          width: 100%;
          height: 100%;
          position: relative;
          display:flex;
          justify-content:center;
          transition: filter 0.75s;
          img{
            width: 100%;
            height: 100%;
            // width: fit-content;
            object-position: center;
            opacity: 1;
            transition: opacity 0.75s;
          }
          img[data-src]{
            opacity: 0;
          }
        }
        div{
          position:absolute;
          top:100%;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 165, 0, 0.514);
          text-shadow: 2.5px 2.5px 5px black;
          display:flex;
          align-items:center;
          justify-content: center;
          transition: top 0.75s;
        }
      }
      a:hover,
      a:active,
      a:focus{
        figure{
          filter:blur(5px);
        }
        div{
          top:0;
        }
      }
      a:focus{
        // border: 5px solid rgb(0,75,255);
        figure{
          filter:blur(5px);
        }
        div{
          color:orange;
          // background-color: rgba(255,165,0,0.75);
          background-color: rgba(0,75,255,0.5);
          text-shadow: 1px 1px 5px black;
          // background-color: orange;
        }
      }
      a.About { 
        display:none;     
      }
    }
    #gallery{
      a:nth-child(4n+1)
      {
        grid-column: 1/ span 2;
      }
      a:nth-child(4n+2)
      {
        grid-column: 3;
        figure{
          img{
            height: 100%;
            width: 200%;
          }
        }
      }
      a:nth-child(4n+3)
      {
        grid-column:1;
        figure{
          img{
            height: 100%;
            width: 200%;
          }
        }
      }
      a:nth-child(4n+4)
      {
        grid-column:2/ span 2;
      }
    }
    #seeMore{
      display:flex;
      align-items: center;
      justify-content: center;
      // margin: 1rem auto;
      flex-direction: column;
      button{
        color:white;
        background-color: rgba(50,50,50,1);
        background-color: orange;
        text-shadow: 1px 1px 5px black;
        border:none;
        font-size: 1rem;
        font-weight: bolder;
        padding: 0.5rem;
        transition: background-color 0.25s;
        cursor:pointer;
      }
      button:hover{
        background-color: rgb(0,75,255);
      }
      button:active,
      button:focus{
        background-color: rgb(0,50,150);
      }
      #moreBtn{
        width: 100%;
      }
      form{
        margin-top: 1rem;
        input{
          text-align:center;
        }
      }
    }
  }
}
@media only all and (min-width: 760px) {
  main{
    @include minHero;
    #gallery{
      a:link,
      a:visited{
        width: 100%;
        height: 32.75vw;
        font-size: 1.5rem;
        img{
          width: 200% !important;
          // height: 100%;
        }
        div{
        }
      }
      a:hover,
      a:active{
        div{
        }
      }
      a.About {
        display:flex;
      }
    }
    #gallery{
      a:nth-child(3n+1)
      {
        grid-column: 1;
      }
      a:nth-child(3n+2)
      {
        grid-column: 2;
        figure{
          img{
            width: 100%;
          }
        }
      }
      a:nth-child(3n+3)
      {
        grid-column: 3;
        figure{
          img{
            width: 100%;
          }
        }
      }
      a:nth-child(3n+4)
      {
        grid-column: 1;
      }
    }
  }
}
@media only all and (min-width: 992px) {
  main{
    // #hero{
    //   figure{
    //     img{
    //       width: 100%;
    //       height: 200%;
    //     }
    //   }
    // }
    @include medHero;
    h1{
      font-size: 3rem;
    }
    #textDiv{
      margin: 0rem auto;
    }
    #gallery{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      a:link,
      a:visited{
        width: 100%;
        height: 24.73vw;
        font-size: 2.5rem;
      }
      a:hover,
      a:active{
        div{
        }
      }
      a.About {
        display:none;
      }
    }
    #gallery{
      a:nth-child(4n+1)
      {
        grid-column: 1;
      }
      a:nth-child(4n+2)
      {
        grid-column: 2;
      }
      a:nth-child(4n+3)
      {
        grid-column: 3;
      }
      a:nth-child(4n+4)
      {
        grid-column: 4;
      }
    }
  }
}
@media only all and (min-width: 1200px) {
  main{
    @include maxHero;
  }
}