@media only all and (min-width: 0) {
  main {
    z-index: 1;
  }
  main #hero {
    position: relative;
    z-index: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  main #hero figure {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main #hero #banner {
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    bottom: 0vh;
    z-index: 0;
    padding: 0 2.5rem;
  }
  main #textDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
  main #textDiv h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
    text-align: center;
    text-decoration: underline;
    margin: 0;
  }
  main #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  main #gallery a:link,
  main #gallery a:visited {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kalam", cursive;
    text-align: center;
    color: white;
    width: 100%;
  }
  main #gallery a:link figure,
  main #gallery a:visited figure {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  main #gallery a:link figure img,
  main #gallery a:visited figure img {
    width: 100%;
    height: 100%;
    -o-object-position: center;
       object-position: center;
    opacity: 1;
    transition: opacity 0.75s;
  }
  main #gallery a:link figure img[data-src],
  main #gallery a:visited figure img[data-src] {
    opacity: 0;
  }
  main #gallery a:link div,
  main #gallery a:visited div {
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.75s;
  }
  main #gallery a:hover div,
  main #gallery a:active div {
    top: 0;
  }
  main #gallery a:focus {
    border: 5px solid rgb(0, 75, 255);
  }
  main #gallery a.About {
    display: none;
  }
  main #gallery a:nth-child(4n+1) {
    grid-column: 1/span 2;
  }
  main #gallery a:nth-child(4n+2) {
    grid-column: 3;
  }
  main #gallery a:nth-child(4n+2) figure img {
    height: 100%;
    width: 200%;
  }
  main #gallery a:nth-child(4n+3) {
    grid-column: 1;
  }
  main #gallery a:nth-child(4n+3) figure img {
    height: 100%;
    width: 200%;
  }
  main #gallery a:nth-child(4n+4) {
    grid-column: 2/span 2;
  }
  main #seeMore {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main #seeMore button {
    color: white;
    background-color: rgb(25, 25, 25);
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    transition: background-color 0.25s;
    cursor: pointer;
  }
  main #seeMore button:hover,
  main #seeMore button:active,
  main #seeMore button:focus {
    background-color: rgb(0, 75, 255);
  }
  main #seeMore #moreBtn {
    width: 100%;
  }
  main #seeMore div {
    margin-top: 1rem;
  }
  main #seeMore div input {
    text-align: center;
  }
}
@media only all and (min-width: 760px) {
  main #hero figure {
    align-items: flex-start;
  }
  main #hero figure img {
    width: 100%;
  }
  main #hero #banner {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  main #gallery a:link,
  main #gallery a:visited {
    width: 100%;
    height: 32.75vw;
    font-size: 1.5rem;
  }
  main #gallery a:link img,
  main #gallery a:visited img {
    width: 200% !important;
  }
  main #gallery a.About {
    display: flex;
  }
  main #gallery a:nth-child(3n+1) {
    grid-column: 1;
  }
  main #gallery a:nth-child(3n+2) {
    grid-column: 2;
  }
  main #gallery a:nth-child(3n+2) figure img {
    width: 100%;
  }
  main #gallery a:nth-child(3n+3) {
    grid-column: 3;
  }
  main #gallery a:nth-child(3n+3) figure img {
    width: 100%;
  }
  main #gallery a:nth-child(3n+4) {
    grid-column: 1;
  }
}
@media only all and (min-width: 992px) {
  main #hero {
    height: 75vh;
  }
  main #hero figure {
    align-items: center;
    height: 75vh;
  }
  main #hero figure img {
    width: 100%;
  }
  main #hero #banner {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  main h1 {
    font-size: 3rem;
  }
  main #gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  main #gallery a:link,
  main #gallery a:visited {
    width: 100%;
    height: 24.73vw;
    font-size: 2.5rem;
  }
  main #gallery a.About {
    display: none;
  }
  main #gallery a:nth-child(4n+1) {
    grid-column: 1;
  }
  main #gallery a:nth-child(4n+2) {
    grid-column: 2;
  }
  main #gallery a:nth-child(4n+3) {
    grid-column: 3;
  }
  main #gallery a:nth-child(4n+4) {
    grid-column: 4;
  }
}
@media only all and (min-width: 1200px) {
  main #hero {
    height: 75vh;
  }
  main #hero figure {
    height: 100%;
  }
}/*# sourceMappingURL=landing.css.map */